@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("./fonts/Gotham-Book.otf");
}

* {
  font-family: "Gotham-Book", sans-serif;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
